.body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    border-bottom: 1px solid rgba(179, 179, 179, 0.778);
    padding: 20px;
}
.btn {
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid rgb(166, 166, 166);
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: all .3s ease;
}
.log-in {
    background-color: #ae51ae;
    color: #fff;
}
.sign-up:hover {
    color: #ae51ae;
}
.log-in:hover {
    background-color: #8e348e;
}
